{% extends 'website/base.html' %}
{% load static %}

{% block title %}
Blog Details
{% endblock %}

{% block content %}

<section class="sec-box main-post section-padding">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="caption text-center">
                <h1 class="fz-55 mt-30">
                    {{ object.title }}
                </h1>
                <p class="sub-title mt-15">{{ object.created_at }}</p>
            </div>
            <div class="main-img mb-80 mt-40">
                <img src="{{object.image.url}}" alt="" class="radius-5"/>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <div class="cont">
                <div class="text mb-20">
                    <h3>Description</h3>
                    <p>{{ object.content }}</p>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}